.gTotal {
  display: none;
}
.gTotalWrap {
  padding: 5px 20px;
  text-align: right;
  font-weight: bold;
  font-size: 16px;
}
.btnPrintBook {
  margin-bottom: 10px;
  position: absolute;
  right: 260px;
}
.btnPrintOrder {
  margin-bottom: 10px;
  position: absolute;
  right: 205px;
}
.searchTxtBook {
  width: 200px !important;
}
.searchTxtItem {
  width: 150px;
}
.small-box-footer {
  display: inline-block;
  margin-top: 13px;
}
