.dropzone {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.roomTbl td:nth-child(2) {
  width: 120px;
}
.roomTbl td:nth-child(3) {
  width: 100px;
}
.roomTbl td:nth-child(5) {
  width: 130px;
}
.roomTbl td:nth-child(6) {
  width: 100px;
}
.roomTbl td:nth-child(7) {
  width: 130px;
}
.roomTbl td:first-child {
  width: 115px;
}
.roomTbl td:last-child {
  width: 175px;
  text-align: center;
}
.roomTbl td:last-child button {
  margin-right: 15px;
}
.roomTbl th:last-child {
  text-align: center;
}
.roomTbl th, .roomTbl td {
  vertical-align: middle !important;
}
.modal-dialog {
  width: 553px;
}
#modal-room-delete .modal-dialog {
  width: 300px;
}
.searchTxt {
  width: 150px !important;
}
